

# ------------------------------------------
# ALLOW CROSS-DOMAIN COOKIES (IMPORTANT!)
# ------------------------------------------
Header always set Access-Control-Allow-Origin "https://jogsports.com"
Header always set Access-Control-Allow-Credentials "true"
Header always set Access-Control-Allow-Headers "Content-Type"
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"

# php -- BEGIN XAMPP configuration
# Set PHP handler for local development
<IfModule mod_php.c>
  AddType application/x-httpd-php .php .php7 .phtml
</IfModule>
# php -- END XAMPP configuration
